/* ==========================================================================
   Purple skin
   ========================================================================== */
/* Colors */
$background-color: #373c3f !default;
$text-color: #eaeaea !default;
$primary-color: #7f22fd !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #4D5357 !default;
$code-background-color-dark: #3F4447 !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: #96f2d7 !default;
$link-color-hover: #7f22fd !default;
$link-color-visited: mix(#000, #96f2d7, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000,  #7f22fd, 35%) !default;
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
